@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Andika);

html,body,h1,h2,h3,h4,h5,h6,ol,dl,ul,li,dt,dd,p,header,hgroup,section,article,aside,footer,figure,figcaption,nav,div,img
{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
article{
	display: block;
}
ul{
	list-style: none;
}
body{
	line-height: 1.6;
}

footer{
	background-color:orange;
	font-family: 'Andika', sans-serif;
	color: white;
	clear: both;
}
div{
	border-style: solid;
	border-color: gray;
	border-width: 1px;
}
#action_panel{
	float: right;
}
.ui-menu {
	width: 150px;
	}
.contents-list{
		padding-left: 5px;
		padding-right:5px;
}
.contents-list li{
	font-size: small;
	border-bottom: solid 1px black;
	padding-top:5px;
	padding-bottom:5px;
}
.left-head h2{
	vertical-align: middle;

}

#login-box{
	background-color: #F2C45A;
	margin-top: 5px;
	margin-bottom: 5px;
}
#login-box form{
	display:inline;
}
#main{
	width: 1100px;
}
#worldmap{
	position:relative;
	float:left;
	width:900px;
}
#rightpanel{
	width:196px;
	position:relative;
	float:right;
}
#menu{
	position: absolute;
}
#news-side
{
	float:left;
	width: 280px;
}
#news-side h2{
	margin-left:25px;
}
#worldnews-contents {
	height:600px;
	padding-left:0px;
}
#rightside
{
	float: right;
	width: 810px;
	height: 600px;
}