{% extends "basic_page.html" %}
{% block body %}
<div id="main">
<div id="errcd">
<h2>エラーコード管理</h2>
{% if new_code %}
{{ new_code.id }}が登録されました。
{% endif %}
<ul>
{% for ercd in all_ercd %}
<li>{{ ercd.key }}:{{ ercd.disp_text }}</li>
{% endfor %}
</ul>
<div id="maint_err" class="form-group">
<form action="/maintenance" method="post">
<input type="text" name="err_cat" placeholder="カテゴリー">
<input type="text" name="err_txt" placeholder="テキスト">
<input type="submit" class="btn btn-info  btn-sm" value="送信">
</form>
</div>
</div>
<div id="world_mainte">
<h2>ワールドマップ管理</h2>
{% for world in all_world %}
{{ world.world_name }}<a href="/worldmap?id={{ world.key.id }}">ワールドマップ管理画面へ移動</a>
{% endfor %}
</div>
</div>
{% endblock %}