{% extends "basic_page.html" %}
{% block body %}
<div id="main">
   <ul class="nav nav-pills">
   <li role="presentation">外交</li>
   <li role="presentation">計画</li>
   <li role="presentation">統計</li>
   </ul>
	<div id="worldmap">
		<img src="/img/map/mapx1y1.png" alt="" /><img src="/img/map/mapx2y1.png" alt="" /><img src="/img/map/mapx3y1.png" alt="" />
		<img src="/img/map/mapx1y2.png" alt="" /><img src="/img/map/mapx2y2.png" alt="" /><img src="/img/map/mapx3y2.png" alt="" />
	</div>
	<div id="datapanel">
	<table class="table">
	<tr><td>人口</td><td></td><td></td><td></td></tr>
	<tr><td>生産</td><td></td><td></td><td></td></tr>
	</table>
	</div>
</div>
{% endblock %}