<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="./stylesheets/genstyle.css" >
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/dark-hive/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("jquery", "1.7");
google.load("jqueryui", "1.8");
</script>
</head>
<body>
<p>Hello citizen, your name is {{ name }} - {{ SecClear }}.</p>
{{ Common_Footer }}
</body>
</html>