<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="./stylesheets/genstyle.css" >
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/dark-hive/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("jquery", "1.7");
google.load("jqueryui", "1.8");
</script>

</head>
<body>
<header><h1>Hegemonicas</h1></header>
<div id="main">
<form action="/register" method="post">
<label for="e-mail">メールアドレス：</label>
<input name="e-mail" type="email" required="required"><br>
<label for="uid">ユーザID：</label>
<input name="uid" type="text"  required><br>
<label for="name">ユーザ名：</label>
<input name="name" type="text"  required><br>
<label for="name">国名：</label>
<input name="Nation_name" type="text"  required><br>
<label for="password">パスワード：</label>
<input name="password" type="password"  required><br>
<label for="Confpass">パスワード確認：</label>
<input name="Confpass" type="password"  required><br>
<input type="hidden" name="phase" id="phase" value={{ phase }}>
<input type="submit" value="送信"></form>
</div>
	<footer>copyrights 2013</footer>
</body>
</html>