{{ Common_Header }}
</head>
<body>
<header>
		<h1><img src="/img/logo.png" alt="Hegemonicas"></h1>
		<nav class="header-nav">

		</nav>
</header>
<div>
<div>
<h1>ユーザ情報</h1>
{{ user.name }}
</div>
<div>
<h1>ワールド選択</h1>
<h2>参加済みのワールド</h2>
{% for world,nation in joined_list %}
<div id="{{ world.key.id }}" class="world_icon">
<img src="/img/Planet.jpg" alt="world_image">
<a href="/game_screen?world={{ world.key.id }}">{{ world.world_name }}</a>
<ul>
<li>{{ nation.Nation_Name }}</li>
<li>{{ world.turn }}ターン/{{ world.Max_turn }}ターン</li>
<li>{{ world.year }}年{{ world.month }}月</li>
</ul>
</div>
{% endfor %}
<h2>参加可能なワールド</h2>
{% for world in worlds_a %}
<div id="{{ world.key.id }}" class="world_icon">
<h3>{{ world.world_name }}</h3>
<img src="/img/Planet.jpg" alt="world_image">
<form action="/join_world" method="get">
<input type="hidden" name="world_key" id="world_key" value={{ world.key.id }}>
<input type="submit" name="req_type" id="req_type" value="ワールドに参加する">
</form>
<ul>
<li>{{ world.turn }}ターン/{{ world.Max_turn }}ターン</li>
<li>{{ world.year }}年{{ world.month }}月</li>
</ul>
</div>
{% endfor %}
<form action="/new_world" method="get">
<input type="hidden" name="creator" id="creator" value={{ user.name }}>
<input type="submit" name="new_world" id="new_world" value="ワールドを創る">
</form>
</div>
</div>
{{ Common_Footer }}
</body>
</html>