{% extends "basic_page.html" %}
{% block body %}
<div class="main">
<div class=""></div>
<div id="user_info">
<h2>ユーザ情報</h2>
<table>
<tr><td>メールアドレス</td><td>{{ user.mail }}</td></tr>
<tr><td>ユーザ名</td><td>{{ user.name }}</td></tr>
<tr><td>獲得済みの功績</td><td>{{ user.achivement }}</td></tr>
<tr><td>ユーザカテゴリ</td><td>{{ user.category }}</td></tr>
</table>

</div>
<div id="world_select" class="bs-callout bs-callout-danger">
<h2>ワールド選択</h2>
<div>
<h3>参加済みのワールド</h3>
{% for world,nation in joined_list %}
<div id="{{ world.key.id }}" class="panel panel-primary">
<img src="/img/Planet.jpg" alt="world_image">
<form class="open_world_form" id="frm_{{ world.key.id }}"  action="/game_screen" method="post">
<input type="button" id="sb_{{ world.key.id }}" name="open_world" value="{{ world.world_name }}">
<input type="hidden" id="w_{{ world.key.id }}" name="world" value="{{ world.key.id }}">
<input type="hidden" id="n_{{ world.key.id }}" name="nation" value="{{ nation.key.id }}">
<input type="hidden" id="m_{{ world.key.id }}" name="mode" value="pre_validation">
</form>
<ul>
<li>{{ nation.Nation_Name }}</li>
<li>{{ world.turn }}ターン/{{ world.Max_turn }}ターン</li>
<li>{{ world.year }}年{{ world.month }}月</li>
</ul>
</div>
{% endfor %}
</div>
<div>
<h3>参加可能なワールド</h3>
{% for world in worlds_a %}
<div id="{{ world.key.id }}" class="panel panel-primary">
<h3>{{ world.world_name }}</h3>
<img src="/img/Planet.jpg" alt="world_image">
<form action="/join_world" method="get">
<input type="hidden" name="world_key" id="world_key" value={{ world.key.id }}>
<input type="submit" name="req_type" id="req_type" value="ワールドに参加する">
</form>
<ul>
<li>{{ world.turn }}ターン/{{ world.Max_turn }}ターン</li>
<li>{{ world.year }}年{{ world.month }}月</li>
</ul>
</div>
{% endfor %}
</div>
<form action="/new_world" method="get">
<input type="hidden" name="creator" id="creator" value={{ user.name }}>
<input type="submit" name="new_world" id="new_world" value="ワールドを創る">
</form>
</div>
</div>
{% endblock %}