{% extends "basic_page.html" %}
{% block body %}
<div>
<form action="/new_world" method="post">
	<label for="wname">ワールド名：</label>
	<input name="wname" type="text"  required><br>
	<label for="Max_nation">最大国数：</label>
	<input name="Max_nation" type="text" required><br>
	<label for="Max_turn">最大ターン：</label>
	<input name="Max_turn" type="text" required><br>
	<label for="Max_turn">創造者：</label>
	<input type="text" name="creator" id="creator" value={{ creator }}><br>
	<label for="world_size">世界のサイズ：</label>
	<select name="world_size" id="world_size">
	<option value="tiny">極小</option>
	<option value="small">小</option>
	<option value="standard">標準</option>
	<option value="large">広大</option>
	</select>
	<input type="submit" value="送信">
</form>
</div>
{% endblock %}